body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}


ul {
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    

}