body {
    background: linear-gradient(135deg, rgb(31, 26, 34), rgb(28, 28, 73));
}

.container-1 {
    background: fixed;
}

.para {
    color: white;
    text-align: center;
    font-weight: bold;
}


#results {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background: linear-gradient(149deg,
            rgba(66, 11, 88, 0.753),
            rgba(8, 8, 88, 0.753));
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: linear-gradient(149deg,
            rgba(66, 11, 88, 0.753),
            rgba(8, 8, 88, 0.753));
    color: white;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

td {
    padding: 10px;
}