body {
    background: aquamarine;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    background: white;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 15px;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.css {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid black;

}

button {
    padding: 4px;
    margin: 4px;
    width: 100px;
    border-radius: 4px;
    border: none;
    background: aquamarine;
    cursor: pointer;
}